.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
__mocks__/**
.github/**
out/test/**
out/test-e2e/**
*
!CHANGELOG.md
!*language-configuration.json
!package.json
!README.md
